################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/UserSettings
/Temp
/Project_Height.sln
/ProjectSettings
/Packages
/Library
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/.vsconfig
/.collabignore
